body { background-color: #F3F3F3; }
    
#centro {
    padding: 10px 30px;
    position: relative;
    left: 89px;
    top: 1px;
}
    
#colun {
    background-color: #fff;
    box-shadow: 4px 4px 4px #6e6e6e70;
    border-radius: 2px;
    color: rgb(20, 19, 19);
    margin: 7px;
    padding: 30px;
}
    
#colun span {
    font-weight: bold;
}
    
#box_icone_busca {
    padding: 10px;
    position: relative;
    left: -39px;
    top: 1px;
}
    
#topo {
    background-color: #221B2F;
    color: #fff;
}
    
.pes {
    background-color: fff;
    width: 80%;
    height: 45px;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
    
#btn-cadastrar {
    background-color: rgb(6, 115, 158);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
}